<hr> 
        <button class="btn btn-info" style="margin-left:40%"(click)="backtoHome()" >Back to Category</button>
        &nbsp;
<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)"> 
    &nbsp;
   <div class="row">
    <h1> <div class="col-sm-3"><label>Category Details Form</label></div> </h1>
       
   </div>
   &nbsp;
        
   <div class="row">
       <div class="col-sm-3"><label>Category ID</label></div>
       <div class="col-sm-6"><input type="text" name="categoryID" [(ngModel)]="category.categoryID"/></div>
   </div>
   &nbsp;
   <div class="row">
       <div class="col-sm-3"><label>Category Name</label></div>
       <div class="col-sm-6"><input type="text" name="categoryName" [(ngModel)]="category.categoryName"/></div>
   </div>
   
   
  
   <div class="row">
        
    <div class="col-sm-3">
        <input style="background-color:greenyellow;height:50px;width:80px"type="submit" name="submit" value="submit" class="btn btn-primary"/></div>
    &nbsp;
        <div class="col-sm-3">
            <input style="background-color:greenyellow;height:50px;width:80px"type="reset" name="reset" value="Reset" class="btn btn-primary"/></div>
</div>
&nbsp;
</form>


