<h1> Welcome to Products Portal </h1>

&nbsp;
<div class="row"> 
    <div class="column">
        <div class="card">
<button class="btn btn-info" (click)="productDetails()" >Products</button>
</div>
</div>
&nbsp;
<div class="column">
    <div class="card">
<button class="btn btn-info" (click)="categoryDetails()">Product Category</button>
</div>
</div>

<div class="column">
    <div class="card">
&nbsp; &nbsp;
        <button class="btn btn-info" (click)="backToMain()">Back  to Main</button>
    </div>
    </div>
</div>